* {
    /* 패딩과 border라인두께까지를 기본 두께로 하겠다(마진 제외) */
    box-sizing: border-box;
}
#container{
    width: 500px;
    margin : 20px auto;
    padding : 20px;

}

input[type="text"]{
    width: 370px;
    /* float : 신문 기사 같이 사진 주변에 자연스럽게 글자 흐름 */
    float: left;
    height: 30px;
    padding-left: 30px;
}
button{
    width: 90px;
    height: 30px;
    float: right;
    background-color: #222;
    color: white;
    border: none;
}

hr{
    clear: both;
    display: none;
}
ul{
    list-style: none;
    padding-top: 50px;
}
li{
    /* 글자 간격에 1.2배 */
    line-height: 1.2;
}
