#container{
    border: 1px solid #ccc;
    /* width: 900px;
    height: 700px; */
    width: 470px;
    height: 600px;
    padding: 70px 15px 15px 15px;
    background-color: white;

}
label{
    font-weight: bold;
    /* margin-right: 10px; */
}
p{
    margin-top: -7px;
    font-size: 13px;
    text-align: right;
}
input{
    
    border: 0px none;
    border-bottom: 2.2px dashed black ;
    font-weight: bold;
    margin-bottom: 20px;
    /* margin-left: 20px; */
    /* text-align: right; */
    
}
fieldset{
    width: 900px;
    height: 700px;
    border: 1px solid rgb(55, 55, 190);
    background-color:rgb(202, 235, 255);
    /* text-align: left; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#address{
    margin-left: 70px;
    width: 350px;
}
#join{
    width: 460px;
    height: 50px;
    margin: 0 4px;
    background-color: rgb(187, 250, 150);
    border: none;
    color: darkgreen;
    font-weight: bold;
    font-size: 15px;
    margin-top: 150px;

}
.hide{
    display: none;
    /* text-align: right; */
}
#idInput{
    width: 300px;
    margin-left: 68px;
}
#pwInput {
    width: 300px;
    margin-left: 55px;
} 
#pwrightInput{
    width: 300px;
    margin-left: 20px;
}

#aderInput{
    margin-left: 30px;
    width: 350px;
}